/*
 * Left menu
---------------------------------------- */
.icon.icon-16.icon-editablefieldadmin {
	background-position: 0 -64px;
}

/* Field Listing
 * @author silverstripe/userforms
 * @author Mohamed Alsharaf
---------------------------------------- */
.Moo_EditableFieldEditor .FieldList {
    padding: 10px 0;
	margin: 0;
	float: left;
	width: 100%;
}
	.Moo_EditableFieldEditor .FieldList a:hover {
		text-decoration: underline;
	}
	.Moo_EditableFieldEditor .FieldList .Moo_EditableField {
		margin: 2px;
		padding: 3px 0;
		background-color: transparent;
		width: 100%;
		border: 0 none;
		border-bottom: 1px solid #d0d3d5 !important;
		-webkit-box-shadow: 0 1px 0 rgba(245, 245, 245, 0.8);
		-moz-box-shadow: 0 1px 0 rgba(245, 245, 245, 0.8);
		-o-box-shadow: 0 1px 0 rgba(245, 245, 245, 0.8);
		box-shadow: 0 1px 0 rgba(245, 245, 245, 0.8);
	}
		.Moo_EditableFieldEditor .FieldList .Moo_EditableField * {
			display: inline;
			vertical-align: middle;
		}
		.Moo_EditableFieldEditor .FieldList .Moo_EditableField .fieldHandler,
		.Moo_EditableFieldEditor .FieldList .Moo_EditableField .handle {
			cursor: move;
		}
		.Moo_EditableFieldEditor .FieldList .Moo_EditableField .fieldInfo {
			float: left;
			padding-right: 11px;
		}
		.Moo_EditableFieldEditor .FieldList .Moo_EditableField .fieldActions {
			float: left;
			margin-top: 2px;
		}
			.Moo_EditableFieldEditor .FieldList .Moo_EditableField .fieldActions a {
				color: #0073C1;
				padding: 9px 10px 9px 20px;
				font-size: 12px;
				font-weight: normal;
				text-shadow: none;
				background-position: left center;
				cursor: pointer;
			}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .moreOptions {
					background: url(../../cms/images/edit.gif) no-repeat top left;
				}
					.Moo_EditableFieldEditor .FieldList .Moo_EditableField .moreOptions.showing {
						color: #666;
						text-decoration: none;
					}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .delete {
					background: url(../../cms/images/delete.gif) no-repeat top left;
				}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .save {
					background: url(../../cms/images/check.png) no-repeat top left;
				}
		.Moo_EditableFieldEditor .FieldList .Moo_EditableField input {
			width: 250px;
			margin-left: 0px;
		}
		.Moo_EditableFieldEditor .FieldList .Moo_EditableField input.small {
			width:120px;
		}

		/** Field Options **/
		.Moo_EditableFieldEditor .FieldList .Moo_EditableField div.extraOptions {
			display: block;
			margin: 4px 0px 15px 3px;
			padding: 3px;
			clear: both;
			background: #ECEFF1;
			border: 1px solid #C0C0C2;
			-webkit-box-shadow: rgba(248, 248, 248, 0.9) -1px 0 0 inset, 0 0 1px rgba(201, 205, 206, 0.8);
			-moz-box-shadow: rgba(248, 248, 248, 0.9) -1px 0 0 inset, 0 0 1px rgba(201, 205, 206, 0.8);
			box-shadow: rgba(248, 248, 248, 0.9) -1px 0 0 inset, 0 0 1px rgba(201, 205, 206, 0.8);
			float: left;
			width: 99%;
		}
			.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions * {
				display: block;
				font-weight: normal;
			}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions .fieldholder-small-label {
					float: left;
					margin-right: 0;
				}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions .handle {
					float: left;
					margin-right: 3px;
				}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions ul {
					padding: 5px 0;
				}
					.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions li {
						padding: 3px 0;
						width: 100%;
						overflow: hidden;
					}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions a {
					background: none;
				}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions input {
					font-size: 11px;
					padding: 5px;
					float: left;
				}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions .deleteOption {
					width: 20px;
					margin: 4px 0 0 4px;
					background: none;
					height: 20px;
					float: left;
					display: block;
				}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions select {
					width: 221px;
				}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .extraOptions .chzn-drop input {
					font-size: 12px;
					padding: 4px 20px 4px 5px;
					float: none;
				}
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField a.addableOption,
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField a.addCondition {
					background: url(../../cms/images/add.gif) no-repeat top left;
					padding: 1px 0 2px 20px;
					font-size: 12px;
					width: auto;
					margin-left: 3px;
				}
				/* Field Options Group */
				.Moo_EditableFieldEditor .FieldList .fieldOptionsGroup {
					padding: 4px 8px 8px 8px;
					margin: 5px;
					border: 1px solid #D0D3D5;
				}
					.Moo_EditableFieldEditor .FieldList .fieldOptionsGroup legend {
						font-size: 15px;
						padding: 0 4px;
					}
				/* Field Lengths */
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .fieldgroupField {
					float: left;
				}
					.Moo_EditableFieldEditor .FieldList .Moo_EditableField .fieldgroupField label {
						float: left;
						padding: 0 4px;
					}
					.Moo_EditableFieldEditor .FieldList .Moo_EditableField .fieldgroupField input {
						width: 80px;
					}
			.Moo_EditableFieldEditor .FieldList .Moo_EditableField .middleColumn {
				background: none;
			}
			/* CHECKBOX */
			.Moo_EditableFieldEditor .FieldList .Moo_EditableField .checkbox { }
				.Moo_EditableFieldEditor .FieldList .Moo_EditableField .checkbox input {
					float: left;
					width:auto;
					margin: 0 8px 0 0;
				}
		/* HIDE */
		.Moo_EditableFieldEditor .FieldList li.Moo_EditableField .hidden {
			display: none !important;
		}
		/* Holder to prevent form from collapsing */
		.Moo_EditableFieldEditor .FieldList .removed-form-field {
			height: 40px;
			display: block;
			overflow: hidden;
		}
#Show_Options {
	border: 0 none;
}
